
<footer>
    <a target="_blank" href="https://github.com/saipranithswargam">
    <i class="fa-brands fa-github-alt left"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/saipranith-swargam-80894122b/">
    <i class="fa-brands fa-linkedin right"></i>
    </a>
</footer>
<script src="js/index.js"></script>
</body>
</html>