*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}
body{
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right,#d2f5e1,#e6faef);
}
body::-webkit-scrollbar {
    display: none;
  }
footer{
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 0.8rem 2rem;
    box-shadow: 1px 0px 16px #b1b6b3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d2f5e1;
}
.dev-phase{
    text-align: center;
    font-size: larger;
    font-weight: 900;
    background-color: #d5e9f9;
}
.brand{
    font-weight: 800;
    font-family: 'Cedarville Cursive', cursive;
    font-size: x-large !important;

}
.custom{
    padding: 0.5rem 2rem !important;
    background-color: transparent ;
    box-shadow: 0px 1px 15px #b1b6b3;
}
.gif img{
    height: 15rem;
    border-radius: 9px;
    box-shadow: -3px 4px 10px #000;
    transition: all 0.5s ease-out;
}
.intro-div{
    padding: 0rem 5rem;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
}
.content{
    padding: 2rem 4rem;
}
.button-div{
    display: flex;
    text-align: center;
    justify-content: center;
    gap:1rem;
    margin-top: 2rem;
}
.cus-btn{
    padding: 0.5rem 3rem;
    border-radius: 7px;
    background-color: transparent;
    border: none;
    box-shadow: -1px 2px 6px #000;
    transition: all 0.3s ease-out;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 700;
}
.content h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color:#1D2B36;
}
.fa-brands{
    font-size: 2rem;
}
.home{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 700;
}
/*styles for signup page*/
.container{
    margin-top: 2rem;
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crd{
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s ease-in-out;
    border-radius: 30px;
    box-shadow: -1px 2px 6px rgb(151, 149, 149);
}
.fr-crd{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.crd h2{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 800;
    font-size: xx-large !important;
}
.fr-crd input{
    border-radius: 7px;
    border: 1px solid slategray;
    padding: 0.5rem 1rem;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.fr-crd input:focus{
    outline: none;
}

/*Profile of user*/
.user-profile{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.profile-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    text-align:left;
    height: 30vh;
    padding: 2.3rem;
    width:fit-content;
    box-shadow: -1px 2px 6px rgb(151, 149, 149);
    border-radius: 9px;
}
.user-details p{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: larger;
}
.blog-card{
    min-width: 80vw;
    height: fit-content;
    margin: 0rem auto;
    margin-top: 1rem;
    background-color : white;
    border-radius: 9px;
    padding: 1rem 1.5rem;
}
.blogs-containter{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
}
/*compose Page*/
.composeForm{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 6% auto;
}
.composeForm input,.composeForm textarea{
    padding: 1rem 1rem;
    border-radius: 9px;
    border: 1px solid slategray;
    margin-bottom: 0.5rem;
}
.composeForm input:focus,.composeForm textarea{
    outline: none;
}
.composeForm label{
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 800;
}


/*keyframes/resopnsiveness*/
@media(max-width:1060px){
    .intro-div{
        flex-direction: column-reverse;
        margin-top: 1.5rem;
        padding: 0;
    }
    .gif{
        text-align: center;
    }
    .content{
        margin-bottom: 2rem;
        margin-top:2rem;
        padding: 0;
    }
}
@media (max-width:400px){
    .gif img{
        height: 10rem;
    }
    .content h1{
        font-size: large;
    }
    .cus-btn{
        padding: 0.5rem 1rem;
    }
    .dev-phase{
        font-size: medium;
        font-weight: 600;
    }
    .custom{
        padding: 5px 5px !important;
    }
    .crd{
        width: 90vw;
    }
}

/* animations */
.gif img:hover{
    scale: 1.15;
    transition: all 2s ease-in;
}
.cus-btn:hover{
    scale: 1.05;
    transition: all 0.5s ease-in;
}
.dev-phase p{
    animation-name: moveFromAbove;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.left{
    animation-name: moveFromLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.right{
    animation-name: moveFromRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}



@keyframes moveFromRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        opacity: 0.9;
        transform: translate(-3px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        opacity: 0.9;
        transform: translate(3px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveFromAbove{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    80%{
        opacity: 0.9;
        transform: translateY(3px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}