<%- include("../partials/header") %>

<div class="intro-div">
    <div class="content">
        <h1>Share your knowledge and</h1>
        <h1>Experiences with others</h1>
        <div class="button-div">
            <form method="post" action="/home">
                <button name="btnValue" value="login" class="cus-btn">Login</button>
            </form>
            <form method="post" action="/home" >
            <button name="btnValue" value="signup" class="cus-btn">Sign up</button>
            </form>
        </div>
    </div>
    <div class="gif">
        <img src="images/blog__1.gif" alt="intro image" />
    </div>
</div>

<%- include("../partials/footer") %>
